@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container {
	
	background-color: #131842;
	font-family: "Roboto", sans-serif;
	display: flex;
	width: 100%;
	
}

.hero-container {
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top:100px;
}

.main-container {
	width: 270px;
	height: 540px;
	position: relative;
	margin: 0 20px;
}

.poster-container {
	width: 200px;
	position: absolute;
	top: 0;
	left: 30px;
	z-index: 9999;
	
}

.poster {
	width: 100%;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
}

.ticket-container {
	background: #fff;
	width: 270px;
	height: 520px;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	position: absolute;
	top: 20px;
	box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
	opacity: 0;
}

.main-container:hover .ticket-container {
	opacity: 1;
	animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
	0%,
	20%,
	40%,
	60%,
	80%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	20% {
		-webkit-transform: scale3d(1.03, 1.03, 1.03);
		transform: scale3d(1.03, 1.03, 1.03);
	}
	40% {
		-webkit-transform: scale3d(0.9, 0.9, 0.9);
		transform: scale3d(0.9, 0.9, 0.9);
	}
	60% {
		opacity: 1;
		-webkit-transform: scale3d(1.01, 1.01, 1.01);
		transform: scale3d(1.01, 1.01, 1.01);
	}
	80% {
		-webkit-transform: scale3d(0.97, 0.97, 0.97);
		transform: scale3d(0.97, 0.97, 0.97);
	}
	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.ticket__content {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;
}

.ticket__movie-title {
	text-transform: uppercase;
	margin-bottom: 5px;
}

.ticket__movie-slogan {
	color: #999;
	font-size: 0.9rem;
	margin-bottom: 20px;
}

.ticket__current-price {
	color: #FF5F00;
	font-size: 1.4rem;
	font-weight: bold;
}

.ticket__old-price {
	color: #999;
	margin-bottom: 10px;
}

.ticket__buy-btn {
	cursor: pointer;
	width: 100%;
	background: #3FA2F6;
	color: white;
	padding: 15px 0;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	border: 0;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: 0px;
}

/* stars */
.radio-input {
	display: flex;
	scale: 0.15;
	transform: rotate(180deg);
  }
  
  .star {
	justify-content: center;
	appearance: none;
	--color: black;
	border-left: 6.4721359549996em solid transparent;
	border-right: 6.4721359549996em solid transparent;
	border-bottom: 4em solid var(--color);
	transform: rotate(0deg);
	cursor: pointer;
	
  }
  
  .star:before {
	content: "";
	border-left: 6.4721359549996em solid transparent;
	border-right: 6.4721359549996em solid transparent;
	border-top: 4em solid var(--color);
	position: absolute;
	left: -6.4721359549996em;
	transform: rotate(108deg);
  }
  
  .star:after {
	content: "";
	border-left: 6.4721359549996em solid transparent;
	border-right: 6.4721359549996em solid transparent;
	border-top: 4em solid var(--color);
	position: absolute;
	left: -6.4721359549996em;
	transform: rotate(253deg);
  }
  
  .radio-input > .star:hover ~ .star,
  .radio-input > .star:hover,
  .radio-input > .star:checked ~ .star,
  .radio-input > .star:checked {
	--color: #EB5B00;
  }
  
  .radio-input > .star:checked ~ .star,
  .radio-input > .star:checked {
	animation: grow 0.5s linear forwards;
	transition: transform 0.3s;
  }
  
  @keyframes grow {
	50% {
	  scale: 2;
	}
  }
  
/* login */
.formcont{
	margin-top: 175px;
	margin-left: 381px;
}

.form {
	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: 0.75rem;
	background-color: #fff;
	color: rgb(97 97 97);
	box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
	width: 22rem;
	background-clip: border-box;
  }
  
  .header {
	position: relative;
	background-clip: border-box;
	background-color: #1e88e5;
	background-image: linear-gradient(to top right,#1e88e5,#42a5f5);
	margin: 10px;
	border-radius: 0.75rem;
	overflow: hidden;
	color: #fff;
	box-shadow: 0 0 #0000,0 0 #0000,0 0 #0000,0 0 #0000,rgba(33,150,243,.4);
	height: 7rem;
	letter-spacing: 0;
	line-height: 1.375;
	font-weight: 600;
	font-size: 1.9rem;
	font-family: Roboto, sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .inputs {
	padding: 1.5rem;
	gap: 1rem;
	display: flex;
	flex-direction: column;
  }
  
  .input-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	min-width: 200px;
	width: 100%;
	height: 2.75rem;
	position: relative;
  }
  
  .input {
	border: 1px solid rgba(128, 128, 128, 0.61);
	outline: 0;
	color: rgb(69 90 100);
	font-weight: 400;
	font-size: .9rem;
	line-height: 1.25rem;
	padding: 0.75rem;
	background-color: transparent;
	border-radius: .375rem;
	width: 100%;
	height: 100%;
  }
  
  .input:focus {
	border: 1px solid #1e88e5;
  }
  
  .checkbox-container {
	margin-left: -0.625rem;
	display: inline-flex;
	align-items: center;
  }
  
  .checkbox {
	position: relative;
	overflow: hidden;
	padding: .55rem;
	border-radius: 999px;
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.027);
	height: 35px;
	width: 35px;
  }
  
  .checkbox input {
	width: 100%;
	height: 100%;
	cursor: pointer;
  }
  
  .checkbox-text {
	cursor: pointer;
  }
  
  .sigin-btn {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .75rem;
	line-height: 1rem;
	text-align: center;
	padding: .75rem 1.5rem;
	background-color: #1e88e5;
	background-image: linear-gradient(to top right,#1e88e5,#42a5f5);
	border-radius: .5rem;
	width: 100%;
	outline: 0;
	border: 0;
	color: #fff;
  }
  
  .signup-link {
	line-height: 1.5;
	font-weight: 300;
	font-size: 0.875rem;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .signup-link a, .forget {
	line-height: 1.5;
	font-weight: 700;
	font-size: .875rem;
	margin-left: .25rem;
	color: #1e88e5;
  }
  
  .forget {
	text-align: right;
	font-weight: 600;
  }

  /* inputs */
  /* MovieForm.css */
.movie-form {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.movie-form input,
.movie-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



.movie-form textarea {
    height: 120px; /* Adjust the height as needed */
}



/* button */
